.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 95px;
}

.dashboard h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
}

.dashboard p {
  color: #aaa;
  margin-bottom: 1em;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

.post_header,
.post_row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1em 2em;
  max-width: 300px;
}

.post_header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.post_row {
  align-items: center;
  border-bottom: 1px solid #eee;
}

.post_row p {
  color: #000;
}

.post_row button,
.post_row a {
  margin: 0 5px;
  font-size: 0.7em;
}
.post_row a {
  width: 59px;
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .post_row button,
  .post_row a {
    margin: 0 5px;
    font-size: 0.7em;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .post_header,
  .post_row {
    align-items: center;
    max-width: 600px;
  }
}
