.home {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin: auto;
}

.home h1{
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0 2em;
}
.search_form {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.search_form input{
    margin-right: 10px;
    width: 50%;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

@media(min-width: 640px){
    .home h1{

    }
  }