.edit_post {
    text-align: center;
    margin-top: 120px;
  }
  
  .edit_post h2 {
    font-size: 1em;
    padding: 0 2em;
  }
  
  .edit_post p {
    color: #aaa;
    margin-bottom: 2em;
    padding: 0 2em;
  }
  
  .edit_post .preview_title {
    margin-bottom: 0.2em;
    color: #000;
    font-weight: bold;
  }
  
  .image_preview {
    max-width: 300px;
    margin-bottom: 1em;
  }